title{
  font-size: x-large;
  color: blue;
}
itemName {
    font-weight: bold;
  }

  category{
    font-size: large;
  }
  category::before{
    content: "\a";
    white-space: pre-line;
  }

  category::after{
    content: "\a";
    white-space:pre;
  }

  *{
    display: block;
  }
  
  